[run]
source = py/desiforecast
omit =
   py/desiforecast/_version.py
   py/desiforecast/conftest*
   py/desiforecast/cython_version*
   py/desiforecast/setup_package*
   py/desiforecast/*/setup_package*
   py/desiforecast/*/*/setup_package*
   py/desiforecast/sphinx/*
   py/desiforecast/test/*
   py/desiforecast/*/test/*
   py/desiforecast/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
